@import 'styles/_variables.scss';

button.mdc-icon-button {
  &.btn-small {
    align-self: center;
    --mdc-ripple-fg-size: 14px;
    --mdc-ripple-left: 5px;
    --mdc-ripple-top: 5px;
    width: 24px;
    height: 24px;
    padding: 6px;
    font-size: 12px;
    .material-icons {
      font-size: 12px;
    }
  }
  &.cbk-icon--active {
    color: $yellow;
  }
}

button.cbk-btn {
  @include button-reset();
  @include button();
  white-space: nowrap;
  margin: 0 .5em;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  color: $grey-900;
  padding: 0 $spacing-small/2;
  line-height: 1.75rem;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    background-color: $grey-300;
  }
  
  &:hover {
    background-color: $grey-300;
  }
  
  &:active {
    border: 0;
    background-color: $grey-400;
  }

  &--disabled {
    color: $grey-500!important;
    pointer-events: none!important;
    cursor: default;
    box-shadow: none!important;
    font-style: italic;
    background-color: white;
    &:hover,
    &:active {
      position: unset!important;
    }
  }

  &--raised {
    background-color: $black;
    color: $white;
    @include solidBoxShadow();
    position: relative;
    
    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
      @include solidBoxShadow();
      box-shadow: 3px 3px $yellow;
      top: 1px;
      left: 1px;
    }
    
    &:active {
      background-color: $black;
      color: $white;
      border: 3px solid $black;
      box-shadow: none;
      top: 4px;
      left: 4px
    }
    &.cbk-btn--disabled {
      background-color: $grey-300;
      border-color: $grey-300;
    }
  }

  &--unelevated {
    background-color: $black;
    border: 3px solid $black;
    color: $white;
    &:hover,
    &:focus {
      background-color: $black;
      box-shadow: 3px 3px $yellow;
    }
    
    &:active {
      background-color: $black;
      border: 3px solid $black;
      box-shadow: 3px 3px $yellow-dark;
    }
    &.cbk-btn--disabled {
      background-color: $grey-300;
      border-color: $grey-300;
    }
  }

  &--outlined {
    background-color: white;
    border: 3px solid black;
    color: black;
    
    &:hover,
    &:focus {
      border: 3px solid black;
      color: black;
      background-image: linear-gradient(
        45deg,
        $yellow 25%,
        $white 25%,
        $white 50%,
        $yellow 50%,
        $yellow 75%,
        $white 75%,
        $white 100%
      );
      background-size: 45.25px 45.25px;
    }
    
    &:active {
      border: 3px solid black;
      color: black;
      background-image: linear-gradient(
        45deg,
        $yellow-dark 25%,
        $white 25%,
        $white 50%,
        $yellow-dark 50%,
        $yellow-dark 75%,
        $white 75%,
        $white 100%
      );
      background-size: 45.25px 45.25px;
    }
    
    &.cbk-btn--disabled {
      background-color: $white;
      border-color: $grey-300;
    }
  }

  &--small {
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-weight: lighter;
  }

  &--link {
    @include link();
    font-weight: 600;
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}