@import 'styles/_variables.scss';

.cbk-dialog {
  .mdc-dialog__surface {
    @include solidBoxShadow();
    border-radius: 0;
  }
  &__content {
    @include button();
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: $spacing-small;
  }
}