@import '../../styles/variables';

.cbk-app-bar {
  background-color: black;
  a.cbk-path-route {
    text-decoration: none;
    color: $white;
    font-family: $font-family-display;
    font-size: $font-size-large;
    letter-spacing: 0.075em;
    font-weight: $font-weight-bold;
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $yellow;
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover::after,
    &--active::after {
      left: 0;
      right: auto;
      width: 30%;
    }
  }
}
