@import 'styles/_variables.scss';

.cbk-create-recipe {
    margin: $spacing-large;
    background-color: white;
    @include box();
    
    .mdc-text-field,
    .mdc-select {
        width: 100%;
    }

    &-actions {
        text-align: right;
    }
}