@import 'styles/_variables.scss';

.cbk-recipes-list {

  &__navbar {
    display: flex;
    flex-direction:  column;
    flex: 1 1 auto;

    &__actions {
      display: flex;
      gap: 1rem;

      .cbk-light-input {
        margin-bottom: 0.5rem;
      }
    }
    &__layout {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

  }
  
  .cbk-recipes-list__results {
    padding: 0 $spacing-large;
    @media #{$small-device} {
      padding: 0;
    }
  }

  &__list {
    padding: 0;
    @include box();
    li.cbk-list__item.mdc-list-item {
      font-weight: 600;
      font-family: $font-family-display;
      .cbk-list__item__name {
        flex: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .mdc-list-item__meta {
        color: $black;
        display: flex;

        @media #{$small-device} {
          button:not(:last-child) {
            display: none;
          }
        }
      }
    }
  }

  &__vertical-split {
    display: flex;
    gap: $spacing-small;
    padding: $spacing-small;

    &__list {
      flex: 1;
    }
    &__preview {
      flex: 1;
    }
  }

  @media #{$small-device} {

  }
}