@import 'styles/_variables.scss';

.cbk-input-container { 
  display: flex;

  .cbk-icon,
  .cbk-input-button {
    align-self: flex-end;
  }

  .cbk-input-button {
    color: $grey-500;
  }
  .cbk-input-box {
    flex: 2;
  }
}

.cbk-input.mdc-text-field {
  width: 100%;
  background-color: rgba(0,0,0,0);
  
  input {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)!important;
  }

  label,
  ::placeholder {
    text-transform: capitalize;
  }

  &,
  &.mdc-text-field--textarea {
    border-color: rgba(0, 0, 0, 0.12)
  }
}

.cbk-input--prefilled label.mdc-floating-label {
  transform: translateY(-50%) scale(0.75);
}

.cbk-input {
  &-display {
    input.mdc-text-field__input
     {
      font-family: $font-family-display;
      font-size: $font-size-xx-large;
      font-weight: $font-weight-bold;
      border-bottom: 0px!important;
    }
  }
}

.cbk-input.mdc-text-field--focused,
.cbk-input.mdc-text-field:hover,
.mdc-text-field__input:hover {
  background-color: rgba(0,0,0,0);
}

.mdc-text-field:hover::before {
  opacity: 0;
}


.cbk-light-input {
  @include lightInput();
  label {
    @include display();
    text-transform: uppercase;
  }
  input:disabled {
    border-color: $grey-400;
  }
}

.cbk-input-2 {
  @include lightInput();
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  input {
    padding: 0 8px;
    width: auto;
    @include display();
    
  }
}