@import 'styles/_variables.scss';

.cbk-input-container { 
  display: flex;

  .cbk-icon,
  .cbk-input-button {
    align-self: flex-end;
  }

  .cbk-input-button {
    color: $grey-500;
  }
  .cbk-input-box {
    flex: 2;
  }
}

.cbk-input.mdc-text-field {
  width: 100%;
  background-color: white;
  
  label,
  ::placeholder {
    text-transform: capitalize;
  }

  &.mdc-text-field--textarea {
    border-color: rgba(0, 0, 0, 0.42)
  }
}

.cbk-input--prefilled label.mdc-floating-label {
  transform: translateY(-50%) scale(0.75);
}

.cbk-input {
  &-display {
    input
     {
      font-family: $font-family-display;
      font-size: $font-size-xx-large;
      font-weight: $font-weight-bold;
      border-bottom: 0;
    }
  }
}

.cbk-input.mdc-text-field--focused,
.cbk-input.mdc-text-field:hover,
.mdc-text-field__input:hover {
  background-color: white;
}

.mdc-text-field:hover::before {
  opacity: 0;
}
