@import 'styles/_variables.scss';

.cbk-list.mdc-list {
  .mdc-list-item {
    font-family: $font-family-text;
    font-weight: 400;
    
    &--selected,
    &--activated {
      background-color: $yellow;
      color: $black;
    }
    
    &__primary-text {
      font-weight: 600;
    }
    &__secondary-text {
      font-style: italic;
    }
    
  }
}