
.cbk-list {
  padding: 8px 0;
  width: 100%;
  &__item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 16px;
    overflow: hidden;
    transition: opacity 15ms linear,
                background-color 15ms linear;
    &:hover {
      background-color: rgba(0,0,0,0.04)
    }
  }
}