@import 'styles/_variables.scss';

.cbk-navbar {
  background-color: white;
  margin-top: $spacing-regular;
  padding: $spacing-regular;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}