@import 'styles/_variables.scss';

.cbk-navbar {
  background-color: white;
  margin: $spacing-regular 0;
  padding: $spacing-regular;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__content {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: $spacing-regular;
    }
  }
}