@import './../../styles/_index.scss';

.Navbar {
  width: 264px;
  background-color: #BDBDBD;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  padding-top: $spacing-xx-large;
  text-align: center;
  box-shadow: $box-shadow;
  &__brand {
    color: white;
    padding-bottom: $spacing-large;
  }
}

.Navbar__items__links {
  text-transform: uppercase;
  padding: $spacing-small 0;
  font-family: $font-family-display;
  font-weight: $font-weight-bold;
  font-size: $font-size-x-large;
  line-height: 40px;
  height: 30px;

  a {
    color: $white;
  }

  a:hover {
    text-decoration: none;
  
  }

  a:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 56px;
    opacity: 50%;
    margin-top: -20px;
    border-bottom: 10px solid;
    border-bottom-color: $grey-500;
  }
}