@import 'styles/_variables.scss';

.cbk-recipe-card {
  @include box();
  position: sticky;
  top: 0;
  &__header {
    border-bottom: 3px solid $black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    &__media {
      background-size: cover;
      background-position: center center;
      grid-column: 1;
      grid-row: 1 / span 2;
      border-right: 3px solid black;
    }

    &__name {
      grid-column: 2 / span 2;
      padding: $spacing-small $spacing-xs $spacing-xs $spacing-xs;
      p {
        @include cursive();
      }
    }

    &__information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $spacing-xs $spacing-small $spacing-xs;

      &__author {
        @include cursive();
        a {
          @include link();
        }
      }
      &__recipe-data ul {
        display: flex;
        
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0px 4px;
          font-size: $font-size-small;
          color: $grey-600;
          .cbk-icon {
            svg > g path {
              fill: $grey-600;
            }
          }
        }
      }
    }
  }
  &__content {
    font-size: $font-size-large;

    &__ingredients {
      padding: $spacing-regular;
      font-weight: $font-weight-bold;
      border-bottom: 3px solid black;
    }

    &__instructions {
      padding: $spacing-regular;
      ol {
        padding-left: $spacing-small;
      }
      li {
        font-family: $font-family-text;
        margin-bottom: $spacing-small;
        color: $grey-700;
        text-align: justify;
      }
    }
  }
}