@import 'styles/_variables.scss';

.cbk-ingredient-list {
  font-family: $font-family-display;
  font-size: $font-size-large;
  color: $grey-700;

  li.section-name {
    font-weight: $font-weight-bold;
  }

  li.ingredient {
    display: table;
    span {
      display: table-cell;
    }

    span:first-child {
      position: relative;
      overflow: hidden;
    }

    span:first-child:after {
      content: '';
      position: absolute;
      bottom: 0.2em;
      margin-left: 0.5em;
      width: 100%;
      border-bottom: 2px dotted $grey-400;
    }
    span + span {
      text-align: right;
      width: 1%;
      vertical-align: bottom;
      padding-left: 0.5em;
    }
  }

  li.ingredient:last-child {
    margin-bottom: $spacing-small;
  }
}

.cbk-recipe-card {
  border: 0px;
  padding: $spacing-large;
  
  &__primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__image.mdc-card__media {
      flex-grow: 1;
      flex-basis: 33%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  
    &__title {
      flex-grow: 2;
      padding-left: $spacing-regular;
      padding-top: $spacing-regular;
      padding-bottom: $spacing-regular;

      h6 {
        margin: 0;
        font-size: $font-size-xx-large;
      }

      h6:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 50px;
        margin-top: -20px;
        border-bottom: 16px solid;
        border-bottom-color: $grey-300;
        margin-left: -4px;
      }

      p {
        color: $grey-500;
        letter-spacing: 1px;
        text-align: justify;
      }

      ul {
        display: flex;
        flex-direction: row;
        
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-right: $spacing-small;
          color: $grey-500;
          .cbk-icon {
            svg > g path {
              fill: $grey-500;
            }
          }
        }
      }
    }
  }
}