@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0;
}

body {
  @apply font-default;
}

@layer base {
  @font-face {
    font-family: 'Lekton';
    src: url('/fonts/Lekton-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Lekton';
    font-weight: 800;
    src: url('/fonts/Lekton-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans';
    font-weight: 800;
    src: url('/fonts/NotoSans-Bold.woff2') format('woff2');
  }

  h1 {
    @apply font-bold font-display text-h1;
  }

  h2 {
    @apply font-bold font-display text-h2;
  }

  h3 {
    @apply font-bold font-display text-h3;
  }

  h4 {
    @apply font-bold font-display text-h4;
  }

  h5 {
    @apply font-bold font-display text-h5;
  }

  h6 {
    @apply font-bold font-display text-h6;
  }
}

::selection {
  @apply bg-primary text-black;
}

@layer components {
  .text-btn {
    @apply uppercase text-sm font-bold tracking-wider;
  }
  .text-overline {
    @apply uppercase text-xxs tracking-widest leading-none;
  }
  .btn-outline {
    @apply h-9 relative border-2 text-btn px-4 hover:shadow-strong active:bg-grey-50 active:shadow-strong-small active:translate-x-0.5 active:translate-y-0.5;
  }
  .layout-container {
    @apply md:max-w-container lg:max-w-lg-container mx-auto;
  }
}
