@import 'styles/_variables.scss';

.cbk-ingredient-form {
  .cbk-ingredients-subrecipe-list {
    display: flex;
    border-bottom: 2px solid $grey-600;
  }
  .cbk-ingredients-component {
    &-header {
      display: flex;
      padding: $spacing-small;
      & > * {
        flex: 1;
        align-self: center;
        @include button();
      }
    }
    &-item {
      display: flex;
      div {
        flex: 1;
      }
    }  
  }
}