@import 'styles/_variables.scss';

.cbk-planner {
  &__body {
    display: flex;
    margin: 1rem 0.5rem;

    &__backlog {
      margin: 0 0.5rem;
      flex-basis: 20%;
    }

    &__calendar {
      margin: 0 0.5rem;
      flex: 1;
      .container {
        display: flex;
        justify-content: space-between;
        background-color: white;
        .day-meals {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;

          > div {
            height: 5rem;
            
          }
        }

        .day-schedule {
          flex-basis: 14%;
          max-width: 14%;
          background-color:white;
          text-align: center;
          display: flex;
          flex-direction: column;

          &--meals {
            max-width: none;
            flex-basis: 2%;
            h5 {
              writing-mode: vertical-lr;
              text-orientation: mixed;
              margin: 0.5rem 0;
            }
          }

          &--date {
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2rem;
          }

          &--lunch,
          &--dinner {
            height: 5rem;
            justify-content: center;
            align-items: center;
            border: 1px solid gainsboro;
          }

          &-content {
            width: inherit;
            height: 100%;
            display: flex;

            .meal-card {
              display: flex;
              flex-direction: column;
              width: 100%;
              align-items: center;

              &--actions {
                flex-basis: 30%;
                display: flex;
                width: 100%;
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }
  }

}