$font-family-text: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$font-family-display: 'Lekton', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 16px;
$font-size-x-large: 20px;
$font-size-xx-large: 24px;
$font-size-xxx-large: 32px;
$font-size-xxxx-large: 34px;