@import 'styles/_variables.scss';

.cbk-sticker {
  display: inline-block;
  background-color: $black;
  color: $white;
  @include display();
  @include solidBoxShadow();
  padding: 0 $spacing-xs;
  letter-spacing: $letter-spacing-enhanced;
}