@import 'styles/_variables.scss';

.cbk-sticker {
  display: inline-block;
  background-color: $black;
  color: $white;
  font-family: $font-family-special;
  @include solidBoxShadow();
  padding: $spacing-small/2;
  letter-spacing: $letter-spacing-enhanced;
}