@import 'styles/_variables.scss';

.cbk-card {
  @include box();
  @include ripple();
  @include elevated();

  margin-bottom: $spacing-small;
  display: flex;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: 8rem 3fr;
    grid-template-rows: 8rem;
    &:hover {
      cursor: pointer;
    }

    &__media {
      border-right: 3px solid black;
      border-bottom: 3px solid black;
      background-position: center center;
      background-size: cover;
    }
    &__main {
      display: flex;
      flex-direction: column;
      padding: $spacing-xs;
      &__title,
      &__subtitle {
        max-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      &__title{
        -webkit-line-clamp: 2;
        margin-bottom: $spacing-xs;
        h6 {
          margin: 0;
          line-height: 1.5rem;
        }
      }
      &__subtitle {
        -webkit-line-clamp: 3;
        p {
          margin: 0;
          @include cursive();
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-xs;
  }
  &:hover {
    @include shadow();
  }

  &--highlight {
    @include shadow($blue);
    top: -4px;
    left: -4px;
    &:hover {
      @include shadow($blue);
    }
  }
}