@import 'styles/_variables.scss';

.cbk-recipe-search {
  width: 100%;
  position: relative;

  &__results {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10000;
    background-color: white;
    @include solidBoxShadow();
    .cbk-list {
      max-height: 21rem;
      overflow: hidden;
      padding: 0;
      .cbk-list__item--focus,
      .cbk-list__item:hover
       {
         cursor: pointer;
        background-color: $yellow;
      }
    }
    &__item {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}