@import 'styles/_variables.scss';

.cbk-recipe-search {
  width: 100%;
  position: relative;

  &__results {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10000;
    background: white;
    @include solidBoxShadow();
    .cbk-list {
      max-height: 21rem;
      overflow: hidden;
      padding: 0;
    }
    &__item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}