@import 'styles/_variables.scss';

.cbk-recipe-form {
  width: 100%;

  .subrecipe-tabs {
    display: flex;
    flex-direction: column;
    @include box();

    ul.tab-header {
      display: flex;
      width: 100%;
      border-bottom: 3px solid #000;

      li.tab {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0px $spacing-xs;
        border-right: 3px solid #000;
        cursor: pointer;
        
        &:last-child {
          border: 0px;
        }

        &--selected {
          background-color: black;
          color: $white;
          
          input {
            color: $white;
            &::placeholder {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        .tab__content {
          flex-grow: 1;
          input {
            @include button();
            width: 100%;
            line-height: 1rem;
            font-family: 'Roboto';
            border-bottom: 0;
          }
        }
        &--add {
          flex-grow: 0;
          padding: 0px;
        }
      }

    }

    .ingredients-form {
      padding: $spacing-xs;

      &__header {
        display: grid;
        grid-template-columns: 2.5fr 0.75fr 0.75fr 1fr 1.5fr 24px;
        column-gap: $spacing-xs;
        color: $grey-600;
        & > * {
          @include button();
        }
      }

      &__content {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__item {
          display: grid;
          grid-template-columns: 2.5fr 0.75fr 0.75fr 1fr 1.5fr 24px;
          column-gap: $spacing-xs;
          
          > div {
            display: flex;
          }

          .cbk-light-input {
            margin-bottom: 0;
          }

          .ingredient-suggestions {
            height: .7rem;
            margin-bottom: 12px;
            button {
              font-size: .6rem;
              letter-spacing: .2px;
              color: #757575;
              line-height: 0rem;
              padding: .5rem 0.1rem;
              
            }
    
          }
        }
      }
    }
    
  }

  .instructions-set {
    &__text {
      display: flex;
      &__number {
        padding: 0 $spacing-xs;
        @include button();
        line-height: 1.5rem;
        color: $grey-600;
      }
    }
  }
  button.remove,
  button.cbk-convert__button {
    align-self: center;
    --mdc-ripple-fg-size: 14px;
    --mdc-ripple-left: 5px;
    --mdc-ripple-top: 5px;
    width: 24px;
    height: 24px;
    padding: 6px;
    font-size: 12px;

    .material-icons {
      font-size: 12px;
    }
  }
}