@import 'styles/_variables.scss';

.cbk-tag-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .mdc-text-field {
    grid-column-end: span 3;
    width: auto!important;
  }

  .mdc-chip__text {
    font-family: $font-family-display;
    font-weight: $font-weight-bold;
  }
}