@import 'styles/_variables.scss';

.cbk-tag-input {
  display: flex;
  flex-direction: row;

  .cbk-light-input {
    flex-basis: 25%;
  }

  .mdc-chip__text {
    font-family: $font-family-display;
    font-weight: $font-weight-bold;
  }
}